In [1]:
#import necessary packages
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib.colors as mcolors
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date
from datetime import datetime

In [2]:
#load in neccesary CSV files
diagnosis_icd9 = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/DIAGNOSES_ICD.csv", usecols= ["SUBJECT_ID", "ICD9_CODE"])
diag_name = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/D_ICD_DIAGNOSES.csv", usecols= ["ICD9_CODE", "LONG_TITLE"])
code_description = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/DRGCODES.csv")
patients = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/PATIENTS.csv", parse_dates = usecols=["SUBJECT_ID", "DOB"])
admissions = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/ADMISSIONS.csv", usecols=["SUBJECT_ID", "ADMITTIME"])
diagnosis_icd9.head()

   SUBJECT_ID ICD9_CODE
0         109     40301
1         109       486
2         109     58281
3         109      5855
4         109      4254

In [3]:
#filter for only "diseases of despair" ICD9 codes
diag_dd_DF = diagnosis_icd9[diagnosis_icd9["ICD9_CODE"].str.startswith(("327", "338", "339", "346", "295", "296", "297", "298", "300", "301", "302", "307", "309", "310", "311", "313"), na = False)]
diag_dd_DF.head()

     SUBJECT_ID ICD9_CODE
22          109     32723
24          109     33829
248         135       311
305          67       311
311          67       311

In [4]:
diag_dd_DF = pd.merge(diag_dd_DF, patients, on='SUBJECT_ID')
diag_dd_DF.head()

   SUBJECT_ID ICD9_CODE                  DOB
0         109     32723  2117-08-07 00:00:00
1         109     33829  2117-08-07 00:00:00
2         109     32723  2117-08-07 00:00:00
3         109     33829  2117-08-07 00:00:00
4         109     32723  2117-08-07 00:00:00

In [5]:
diag_dd_DF = pd.merge(diag_dd_DF, admissions, on="SUBJECT_ID")
diag_dd_DF.head()

   SUBJECT_ID ICD9_CODE                  DOB            ADMITTIME
0         109     32723  2117-08-07 00:00:00  2137-11-04 19:36:00
1         109     32723  2117-08-07 00:00:00  2138-04-16 17:44:00
2         109     32723  2117-08-07 00:00:00  2140-01-19 13:25:00
3         109     32723  2117-08-07 00:00:00  2140-02-02 02:13:00
4         109     32723  2117-08-07 00:00:00  2140-04-07 19:51:00

In [6]:
diag_dd_DF['DOB'].isnull().values.any()

False

In [7]:
diag_dd_DF['ADMITTIME'].isnull().values.any()

False

In [48]:
diag_dd_DF['AGE'] = (diag_dd_DF['ADMITTIME']-diag_dd_DF['DOB'])
diag_dd_DF = diag_dd_DF[diag_dd_DF['AGE'].dt.days > 365*18]

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [8]:
import sys
sys.maxsize

9223372036854775807

In [9]:
diag_dd_DF.count()

SUBJECT_ID    36382
ICD9_CODE     36382
DOB           36382
ADMITTIME     36382
dtype: int64

In [10]:
diag_dd_DF.groupby(['ICD9_CODE']).count()

           SUBJECT_ID   DOB  ADMITTIME
ICD9_CODE
29502               1     1          1
29512               5     5          5
29520               8     8          8
29522               1     1          1
29524               2     2          2
...               ...   ...        ...
34670               2     2          2
34680              38    38         38
34690            1362  1362       1362
34691               4     4          4
34693               1     1          1

[150 rows x 3 columns]

In [11]:
#merge in separate dataframe to include the name/description of the ICD9 code 
diagDFdesc = pd.merge(diag_dd_DF, diag_name, on='ICD9_CODE')
diagDFdesc

,SUBJECT_ID,ICD9_CODE,DOB,ADMITTIME,LONG_TITLE
0,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Obstructive sleep apnea (adult)(pediatric)
1,109,32723,2117-08-07 00:00:00,2138-04-16 17:44:00,Obstructive sleep apnea (adult)(pediatric)
2,109,32723,2117-08-07 00:00:00,2140-01-19 13:25:00,Obstructive sleep apnea (adult)(pediatric)
3,109,32723,2117-08-07 00:00:00,2140-02-02 02:13:00,Obstructive sleep apnea (adult)(pediatric)
4,109,32723,2117-08-07 00:00:00,2140-04-07 19:51:00,Obstructive sleep apnea (adult)(pediatric)
...,...,...,...,...,...
36375,99085,34691,2091-02-01 00:00:00,2131-02-08 16:25:00,"Migraine, unspecified, with intractable migrai..."
36376,95841,33902,2111-12-01 00:00:00,2160-04-09 21:23:00,Chronic cluster headache
36377,96928,29621,2073-05-24 00:00:00,2138-06-03 12:36:00,"Major depressive affective disorder, single ep..."
36378,96928,29621,2073-05-24 00:00:00,2139-01-01 15:02:00,"Major depressive affective disorder, single ep..."
36379,99873,2982,2058-05-08 00:00:00,2103-12-19 14:58:00,Reactive confusion

In [12]:
notes = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/NOTEEVENTS.csv", usecols = ['SUBJECT_ID','CATEGORY', 'TEXT'])
notes.head()

,SUBJECT_ID,CATEGORY,TEXT
0,22532,Discharge summary,Admission Date: [**2151-7-16**] Dischar...
1,13702,Discharge summary,Admission Date: [**2118-6-2**] Discharg...
2,13702,Discharge summary,Admission Date: [**2119-5-4**] D...
3,13702,Discharge summary,Admission Date: [**2124-7-21**] ...
4,26880,Discharge summary,Admission Date: [**2162-3-3**] D...

In [13]:
#merge dd dataframe with notes
icd9_dd_notes = pd.merge(diag_dd_DF, notes, on ='SUBJECT_ID')
icd9_dd_notes.head()

,SUBJECT_ID,ICD9_CODE,DOB,ADMITTIME,CATEGORY,TEXT
0,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-5-15**] ...
1,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-5-20**] ...
2,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-6-18**] ...
3,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-7-3**] D...
4,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-7-7**] D...

In [14]:
#how many entries?
icd9_dd_notes.count()

SUBJECT_ID    8595228
ICD9_CODE     8595228
DOB           8595228
ADMITTIME     8595228
CATEGORY      8595228
TEXT          8595228
dtype: int64

In [15]:
#drop any duplicate TEXT entries 
icd9_notes_unique = icd9_dd_notes.drop_duplicates(subset='TEXT', keep='first')
icd9_notes_unique

,SUBJECT_ID,ICD9_CODE,DOB,ADMITTIME,CATEGORY,TEXT
0,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-5-15**] ...
1,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-5-20**] ...
2,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-6-18**] ...
3,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-7-3**] D...
4,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-7-7**] D...
...,...,...,...,...,...,...
8595205,97492,34680,2126-09-04 00:00:00,2158-07-31 22:29:00,Nursing,TITLE:\n Pt is 31 y/o woman with history of ...
8595206,97492,34680,2126-09-04 00:00:00,2158-07-31 22:29:00,Physician,SICU\n HPI:\n 31 yo RH woman with a PMH de...
8595207,97492,34680,2126-09-04 00:00:00,2158-07-31 22:29:00,Radiology,[**2158-8-1**] 10:43 AM\n MR HEAD W/O CONTRAST...
8595208,97492,34680,2126-09-04 00:00:00,2158-07-31 22:29:00,Radiology,[**2158-7-31**] 8:52 PM\n CTA HEAD W&W/O C & R...
8595209,97492,34680,2126-09-04 00:00:00,2158-07-31 22:29:00,Radiology,[**2158-7-31**] 8:54 PM\n CT HEAD W/O CONTRAST...

In [16]:
#after removing duplicates, how many entries do we have?
icd9_notes_unique.count()

SUBJECT_ID    446040
ICD9_CODE     446040
DOB           446040
ADMITTIME     446040
CATEGORY      446040
TEXT          446040
dtype: int64

In [17]:
icd9_notes_unique.loc[icd9_notes_unique["SUBJECT_ID"] == 109]

,SUBJECT_ID,ICD9_CODE,DOB,ADMITTIME,CATEGORY,TEXT
0,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-5-15**] ...
1,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-5-20**] ...
2,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-6-18**] ...
3,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-7-3**] D...
4,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-7-7**] D...
...,...,...,...,...,...,...
1273,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Physician,Chief Complaint:\n 24 Hour Events:\n - SBP...
1275,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Physician,Chief Complaint:\n 24 Hour Events:\n DIALYSI...
1276,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Physician,Chief Complaint:\n I saw and examined the pa...
1277,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Physician,Chief Complaint:\n I saw and examined the pa...
1278,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Physician,"TITLE:\n Chief Complaint: new onset seizure,..."

In [18]:
icd9_dd_notes = icd9_notes_unique

In [19]:
#how many notes per category
icd9_dd_notes.groupby(["CATEGORY"]).count().sort_values(by=['TEXT'],ascending=False)

                   SUBJECT_ID  ICD9_CODE     DOB  ADMITTIME    TEXT
CATEGORY
Radiology              138827     138827  138827     138827  138827
Nursing                 76223      76223   76223      76223   76223
Nursing/other           70539      70539   70539      70539   70539
ECG                     58017      58017   58017      58017   58017
Physician               53940      53940   53940      53940   53940
Discharge summary       14722      14722   14722      14722   14722
Respiratory             11899      11899   11899      11899   11899
Echo                    11788      11788   11788      11788   11788
Nutrition                3448       3448    3448       3448    3448
General                  3102       3102    3102       3102    3102
Rehab Services           1958       1958    1958       1958    1958
Social Work              1047       1047    1047       1047    1047
Case Management           454        454     454        454     454
Pharmacy                   43         43      43         43      43
Consult                    33         33      33         33      33

In [20]:
#what is the largest number of entries for a patient?
#what is the least 
icd9_dd_notes.groupby(["SUBJECT_ID"]).count().sort_values(by=['TEXT'],ascending=False)

            ICD9_CODE   DOB  ADMITTIME  CATEGORY  TEXT
SUBJECT_ID
78076            1317  1317       1317      1317  1317
99383            1228  1228       1228      1228  1228
109              1217  1217       1217      1217  1217
27427            1209  1209       1209      1209  1209
67906            1017  1017       1017      1017  1017
...               ...   ...        ...       ...   ...
68353               1     1          1         1     1
98640               1     1          1         1     1
86731               1     1          1         1     1
78260               1     1          1         1     1
90801               1     1          1         1     1

[8527 rows x 5 columns]

In [21]:
#average number of notes per patient
#dont know how skewed this is (need to look at outliers)
icd9_dd_notes.groupby('SUBJECT_ID').count().mean()

ICD9_CODE    52.309136
DOB          52.309136
ADMITTIME    52.309136
CATEGORY     52.309136
TEXT         52.309136
dtype: float64

In [22]:
#how many characters?
icd9_dd_notes["TEXT"].str.len()

0          10479
1          16179
2          11058
3          10613
4           9850
           ...
8595205     1627
8595206     4672
8595207     1493
8595208     2975
8595209     1446
Name: TEXT, Length: 446040, dtype: int64

In [23]:
#summary of the notes
#what is the std?
icd9_dd_notes["TEXT"].str.len().describe()

count    446040.000000
mean       2435.212030
std        3046.289173
min           3.000000
25%         761.000000
50%        1360.000000
75%        2716.000000
max       50663.000000
Name: TEXT, dtype: float64

In [24]:
#average number of characters per text
icd9_dd_notes["TEXT"].str.len().mean()

2435.212030311183

In [25]:
# Load the regular expression library
import re

In [26]:
# Remove punctuation and anything that isnt a character or number 
#this process took approximately (start 1:31:16 - finish 1:33:10) 2 minutes
icd9_dd_notes['text_processed'] = icd9_dd_notes['TEXT'].map(lambda x: re.sub('[^A-Za-z0-9, ]+', '', x))

In [27]:
# Convert to lowercase
icd9_dd_notes['text_processed'] = icd9_dd_notes['text_processed'].map(lambda x: x.lower())

In [28]:
# Print out the first rows of papers to ensure re working properly
icd9_dd_notes['text_processed'].head()

0    admission date  2142515              discharge...
1    admission date  2142520              discharge...
2    admission date  2142618              discharge...
3    admission date  214273              discharge ...
4    admission date  214277              discharge ...
Name: text_processed, dtype: object

In [29]:
icd9_dd_notes.head()

,SUBJECT_ID,ICD9_CODE,DOB,ADMITTIME,CATEGORY,TEXT,text_processed
0,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-5-15**] ...,admission date 2142515 discharge...
1,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-5-20**] ...,admission date 2142520 discharge...
2,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-6-18**] ...,admission date 2142618 discharge...
3,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-7-3**] D...,admission date 214273 discharge ...
4,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-7-7**] D...,admission date 214277 discharge ...

In [30]:
#adding additional index column for calling
index = tuple(range(0, 446040, 1))
icd9_dd_notes["index"] = index
icd9_dd_notes

,SUBJECT_ID,ICD9_CODE,DOB,ADMITTIME,CATEGORY,TEXT,text_processed,index
0,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-5-15**] ...,admission date 2142515 discharge...,0
1,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-5-20**] ...,admission date 2142520 discharge...,1
2,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-6-18**] ...,admission date 2142618 discharge...,2
3,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-7-3**] D...,admission date 214273 discharge ...,3
4,109,32723,2117-08-07 00:00:00,2137-11-04 19:36:00,Discharge summary,Admission Date: [**2142-7-7**] D...,admission date 214277 discharge ...,4
...,...,...,...,...,...,...,...,...
8595205,97492,34680,2126-09-04 00:00:00,2158-07-31 22:29:00,Nursing,TITLE:\n Pt is 31 y/o woman with history of ...,title pt is 31 yo woman with history of head...,446035
8595206,97492,34680,2126-09-04 00:00:00,2158-07-31 22:29:00,Physician,SICU\n HPI:\n 31 yo RH woman with a PMH de...,sicu hpi 31 yo rh woman with a pmh depress...,446036
8595207,97492,34680,2126-09-04 00:00:00,2158-07-31 22:29:00,Radiology,[**2158-8-1**] 10:43 AM\n MR HEAD W/O CONTRAST...,215881 1043 am mr head wo contrast ...,446037
8595208,97492,34680,2126-09-04 00:00:00,2158-07-31 22:29:00,Radiology,[**2158-7-31**] 8:52 PM\n CTA HEAD W&W/O C & R...,2158731 852 pm cta head wwo c recons cta neck...,446038
8595209,97492,34680,2126-09-04 00:00:00,2158-07-31 22:29:00,Radiology,[**2158-7-31**] 8:54 PM\n CT HEAD W/O CONTRAST...,2158731 854 pm ct head wo contrast outside fil...,446039

In [31]:
data_text = icd9_dd_notes[['text_processed','index']]
data_text

                                            text_processed   index
0        admission date  2142515              discharge...       0
1        admission date  2142520              discharge...       1
2        admission date  2142618              discharge...       2
3        admission date  214273              discharge ...       3
4        admission date  214277              discharge ...       4
...                                                    ...     ...
8595205  title   pt is 31 yo woman with history of head...  446035
8595206  sicu   hpi   31 yo rh woman with a pmh depress...  446036
8595207  215881 1043 am mr head wo contrast            ...  446037
8595208  2158731 852 pm cta head wwo c  recons cta neck...  446038
8595209  2158731 854 pm ct head wo contrast outside fil...  446039

[446040 rows x 2 columns]

In [32]:
documents = data_text

In [33]:
#import necessary packages for further word processing
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import numpy as np
np.random.seed(2020)
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /global/homes/d/dsmorrow/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [34]:
#function to perform lemmatize and stem preprocessing steps on the data set.
def lemmatize_stemming(text):
    stemmer = PorterStemmer()
    return stemmer.stem(WordNetLemmatizer().lemmatize(text, pos='v'))
def preprocess(text):
    result = []
    for token in gensim.utils.simple_preprocess(text):
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 3:
            result.append(lemmatize_stemming(token))
    return result

In [35]:
#test the stemmer and lem on one example text
doc_sample = documents[documents['index'] == 4310].values[0][0]
print('original document: ')
words = []
for word in doc_sample.split(' '):
    words.append(word)
print(words)
print('\n\n tokenized and lemmatized document: ')
print(preprocess(doc_sample))

original document:
['npn', 'micu', '7', 'westallergies', 'demeroltertracyclinefull', 'codesignificant', 'events', 'able', 'to', 'wean', 'vent', 'from', 'ac', 'to', 'ps', 'settings,', 'able', 'to', 'wean', 'sedation', 'today,', 'ekg', 'doneneuro', 'pt', 'is', 'sedated', 'on', 'fentanyl', '100mcgkghr', 'from', '300', 'mghr', 'and', 'versed', '5', 'mcghr', 'from', '96', 'mcghr', 'propofol', 'continues', '', '40', 'mcgkgmin', 'pt', 'neuro', 'status', 'has', 'remianed', 'unchanged', 'since', 'yesterday', 'arousable', 'to', 'voice', 'and', 'stimuli,', 'moves', 'all', 'four', 'extremeties', 'on', 'bed,', 'weak', 'gag,', 'cough', 'reflex', 'intact,', 'pupils', '3mm', '', ',', 'follows', 'simple', 'commands', 'inconsistently', 'haldol', 'given', 'as', 'orderedresp', 'pt', 'is', 'trached', 'received', 'on', 'vent', 'settings', 'ac50tv350rr28peep8', 'abg', 'wnl,', 'able', 'to', 'wean', 'vent', 'settings', 'to', 'cpap', '', 'ps', '50peep8ps20', 'rr1215', 'abg', 'wnl,', 'ls', 'clear,', 'cxr', 'bilateral', 'consolidations,', 'suctioning', 'thick', 'green', 'sputum', 'from', 'trach', 'and', 'mouthcv', '', 'of', 'note,', 'received', '2', 'units', 'prbcs', 'last', 'night', '718,', 'hr', '49106,', 'sbp110160,', 'aline', 'positional,', 'rij', 'wnl,', 'pulses', 'palpablegugi', 'foley', 'draining', '45300cchr', 'lyellow', 'urine,', 'lasix', '40mg', 'given', 'x', '2,', 'cr21,', 'abd', 'soft', 'and', 'distended,', 'tolerating', 'tpn', 'and', 'tf', '', '10cchr', 'goal,', 'lactulosesenna', 'give,', 'rectal', 'bag', 'in', 'place', 'after', '400cc', 'loose', 'brown', 'stool', 'out', 'this', 'afternoon', 'naloxone', 'for', 'ileusidwbc115,', 't986,', 'abx,steriods,', 'immune', 'suppressant', 'for', 'renal', 'transplantsocial', 'husband', 'called', 'and', 'updated', 'on', 'pt', 'progress,', 'husband', 'will', 'be', 'visiting', 'in', 'a', 'few', 'days', 'as', 'he', 'will', 'be', 'working', 'overtime', 'at', 'his', 'jobplan', 'increase', 'tf', 'to', '20cchr', '', '', '', '', '', 'cont', 'to', 'wean', 'sedation']


 tokenized and lemmatized document:
['micu', 'westallergi', 'codesignific', 'event', 'abl', 'wean', 'vent', 'set', 'abl', 'wean', 'sedat', 'today', 'doneneuro', 'sedat', 'fentanyl', 'mcgkghr', 'mghr', 'vers', 'mcghr', 'mcghr', 'propofol', 'continu', 'mcgkgmin', 'neuro', 'statu', 'remian', 'unchang', 'yesterday', 'arous', 'voic', 'stimuli', 'move', 'extremeti', 'weak', 'cough', 'reflex', 'intact', 'pupil', 'follow', 'simpl', 'command', 'inconsist', 'haldol', 'give', 'orderedresp', 'trach', 'receiv', 'vent', 'set', 'peep', 'abl', 'wean', 'vent', 'set', 'cpap', 'peep', 'clear', 'bilater', 'consolid', 'suction', 'green', 'sputum', 'trach', 'mouthcv', 'note', 'receiv', 'unit', 'prbc', 'night', 'alin', 'posit', 'puls', 'palpablegugi', 'foley', 'drain', 'cchr', 'lyellow', 'urin', 'lasix', 'give', 'soft', 'distend', 'toler', 'cchr', 'goal', 'lactulosesenna', 'rectal', 'place', 'loos', 'brown', 'stool', 'afternoon', 'naloxon', 'ileusidwbc', 'steriod', 'immun', 'suppress', 'renal', 'husband', 'call', 'updat', 'progress', 'husband', 'visit', 'day', 'work', 'overtim', 'jobplan', 'increas', 'cchr', 'cont', 'wean', 'sedat']

In [36]:
#remove any na that would cause problems in the lda model
documents = documents.dropna(subset=['text_processed'])

In [37]:
doc_group1 = documents.iloc[0:1000]
doc_group1.head()

                                      text_processed  index
0  admission date  2142515              discharge...      0
1  admission date  2142520              discharge...      1
2  admission date  2142618              discharge...      2
3  admission date  214273              discharge ...      3
4  admission date  214277              discharge ...      4

In [38]:
#use preprocess function on group1
processed_docs = doc_group1['text_processed'].map(preprocess)
processed_docs

0       [admiss, date, discharg, date, date, birth, fs...
1       [admiss, date, discharg, date, date, birth, fs...
2       [admiss, date, discharg, date, date, birth, fs...
3       [admiss, date, discharg, date, date, birth, fs...
4       [admiss, date, discharg, date, date, birth, fs...
                              ...
1055    [micu, bilat, vein, clip, clip, number, radiol...
1056    [conrast, right, clip, clip, number, radiolog,...
1057    [conrast, right, clip, clip, number, radiolog,...
1058    [chest, portabl, clip, clip, number, radiolog,...
1059    [chest, portabl, clip, clip, number, radiolog,...
Name: text_processed, Length: 1000, dtype: object

In [39]:
#create dictionary of words and number of appearances 
dictionary = gensim.corpora.Dictionary(processed_docs)
count = 0
for k, v in dictionary.iteritems():
    print(k, v)
    count += 1
    if count > 10:
        break

0 abdomin
1 abdominalpain
2 abl
3 abus
4 accid
5 acut
6 aday
7 admiss
8 admit
9 admittedd
10 afebril

In [40]:
#filter out words that appear in less than (15) documents
#only keep the first 10000
dictionary.filter_extremes(no_below=15, no_above=0.5, keep_n=100000)

In [41]:
#go through each document and report words and occurrences using doc2box for token id and amount
bow_corpus = [dictionary.doc2bow(doc) for doc in processed_docs]

In [42]:
#identify what the word is based on token and number of appearances
#765 is a sample index from documents
bow_doc_765 = bow_corpus[765]
for i in range(len(bow_doc_765)):
    print("Word {} (\"{}\") appears {} time.".format(bow_doc_765[i][0], 
dictionary[bow_doc_765[i][0]], 
bow_doc_765[i][1]))

Word 3 ("acut") appears 1 time.
Word 27 ("blood") appears 1 time.
Word 29 ("bridg") appears 1 time.
Word 33 ("check") appears 1 time.
Word 34 ("chief") appears 1 time.
Word 37 ("chronic") appears 1 time.
Word 48 ("coumadin") appears 1 time.
Word 53 ("crisi") appears 1 time.
Word 71 ("drip") appears 1 time.
Word 75 ("emerg") appears 1 time.
Word 83 ("event") appears 1 time.
Word 94 ("glucos") appears 1 time.
Word 106 ("hour") appears 2 time.
Word 113 ("includ") appears 1 time.
Word 125 ("labetalol") appears 1 time.
Word 130 ("line") appears 2 time.
Word 136 ("med") appears 1 time.
Word 149 ("nausea") appears 2 time.
Word 155 ("nifedipin") appears 1 time.
Word 157 ("note") appears 3 time.
Word 165 ("patch") appears 2 time.
Word 167 ("percocet") appears 1 time.
Word 174 ("prednison") appears 1 time.
Word 180 ("provid") appears 1 time.
Word 186 ("rebound") appears 1 time.
Word 196 ("restart") appears 1 time.
Word 199 ("review") appears 2 time.
Word 211 ("sign") appears 1 time.
Word 213 ("sodium") appears 1 time.
Word 222 ("stool") appears 1 time.
Word 229 ("system") appears 2 time.
Word 237 ("time") appears 1 time.
Word 243 ("total") appears 3 time.
Word 254 ("urgenc") appears 2 time.
Word 275 ("antibiot") appears 1 time.
Word 283 ("better") appears 1 time.
Word 293 ("code") appears 1 time.
Word 301 ("control") appears 2 time.
Word 306 ("diet") appears 1 time.
Word 310 ("dose") appears 1 time.
Word 319 ("feel") appears 1 time.
Word 323 ("floor") appears 1 time.
Word 331 ("hemodynam") appears 1 time.
Word 333 ("heparin") appears 3 time.
Word 335 ("hold") appears 1 time.
Word 348 ("keppra") appears 2 time.
Word 349 ("lab") appears 2 time.
Word 354 ("level") appears 1 time.
Word 359 ("lipas") appears 1 time.
Word 395 ("radiolog") appears 1 time.
Word 411 ("servic") appears 1 time.
Word 430 ("transfer") appears 1 time.
Word 433 ("ulcer") appears 1 time.
Word 434 ("unchang") appears 2 time.
Word 435 ("urin") appears 1 time.
Word 437 ("vital") appears 1 time.
Word 439 ("vomit") appears 1 time.
Word 452 ("complaint") appears 1 time.
Word 464 ("fluid") appears 1 time.
Word 473 ("imag") appears 1 time.
Word 490 ("physic") appears 2 time.
Word 492 ("rash") appears 1 time.
Word 504 ("aliskerin") appears 1 time.
Word 509 ("care") appears 1 time.
Word 510 ("ckmb") appears 1 time.
Word 531 ("oral") appears 1 time.
Word 554 ("evid") appears 1 time.
Word 562 ("mmhg") appears 1 time.
Word 564 ("overnight") appears 2 time.
Word 566 ("product") appears 1 time.
Word 570 ("tropt") appears 1 time.
Word 589 ("gaug") appears 2 time.
Word 626 ("celexa") appears 1 time.
Word 627 ("commun") appears 1 time.
Word 636 ("heart") appears 1 time.
Word 640 ("organ") appears 1 time.
Word 646 ("prophylaxi") appears 2 time.
Word 662 ("agre") appears 1 time.
Word 698 ("respiratori") appears 1 time.
Word 700 ("rhythm") appears 2 time.
Word 776 ("spend") appears 1 time.
Word 781 ("statu") appears 1 time.
Word 828 ("itch") appears 2 time.
Word 838 ("morphin") appears 1 time.
Word 861 ("slowli") appears 1 time.
Word 864 ("stress") appears 1 time.
Word 873 ("amylas") appears 1 time.
Word 914 ("nutrit") appears 1 time.
Word 918 ("oxycodon") appears 1 time.
Word 981 ("examin") appears 2 time.
Word 1027 ("data") appears 1 time.
Word 1035 ("support") appears 1 time.
Word 1037 ("tunnel") appears 1 time.
Word 1062 ("drain") appears 1 time.
Word 1092 ("eat") appears 1 time.
Word 1127 ("famili") appears 1 time.
Word 1162 ("allergi") appears 1 time.
Word 1171 ("resid") appears 1 time.
Word 1175 ("tmax") appears 1 time.
Word 1207 ("balanc") appears 2 time.
Word 1211 ("deliveri") appears 1 time.
Word 1212 ("devic") appears 1 time.
Word 1213 ("disposit") appears 1 time.
Word 1216 ("flowsheet") appears 1 time.
Word 1217 ("glycem") appears 1 time.
Word 1219 ("infus") appears 1 time.
Word 1220 ("inspmin") appears 1 time.
Word 1221 ("meql") appears 4 time.
Word 1222 ("mgdl") appears 6 time.
Word 1223 ("penicillin") appears 1 time.
Word 1226 ("tcurrent") appears 1 time.
Word 1227 ("troponint") appears 1 time.
Word 1237 ("paramet") appears 1 time.
Word 1265 ("portion") appears 1 time.
Word 1312 ("run") appears 1 time.
Word 1352 ("hickman") appears 1 time.

In [43]:
#determine the TF-IDF scores or weight of a word within a document
from gensim import corpora, models
tfidf = models.TfidfModel(bow_corpus)
corpus_tfidf = tfidf[bow_corpus]
from pprint import pprint
for doc in corpus_tfidf:
    pprint(doc)
    break

[(0, 0.0173180133591342),
 (1, 0.037726875857839993),
 (2, 0.04075002636008019),
 (3, 0.010907674361755217),
 (4, 0.037726875857839993),
 (5, 0.03132641714436169),
 (6, 0.026039845803148737),
 (7, 0.023230504337241494),
 (8, 0.015513443921819928),
 (9, 0.010556721486522319),
 (10, 0.03912465330789028),
 (11, 0.032445604479549146),
 (12, 0.04508099522676178),
 (13, 0.02254049761338089),
 (14, 0.01580057744264134),
 (15, 0.020101427365367085),
 (16, 0.03297210133772002),
 (17, 0.02145823941183696),
 (18, 0.037726875857839993),
 (19, 0.02273283297721263),
 (20, 0.0383507896082012),
 (21, 0.023490935819000882),
 (22, 0.04200179930932068),
 (23, 0.021205032705606797),
 (24, 0.023647278419810763),
 (25, 0.0338177708255089),
 (26, 0.033008929977104834),
 (27, 0.031589894646032186),
 (28, 0.041356341125407196),
 (29, 0.0247721854308978),
 (30, 0.010134670226441512),
 (31, 0.031239188209780444),
 (32, 0.04075002636008019),
 (33, 0.017662914112741016),
 (34, 0.009836106840739574),
 (35, 0.0576545899280774),
 (36, 0.02956845847811876),
 (37, 0.015316089034577167),
 (38, 0.027033682899938377),
 (39, 0.023647278419810763),
 (40, 0.013094813639325001),
 (41, 0.046723777047753226),
 (42, 0.03194544372792513),
 (43, 0.01839058992325032),
 (44, 0.04546566595442526),
 (45, 0.029191012525984498),
 (46, 0.020877097402517687),
 (47, 0.036806895297094355),
 (48, 0.02524902216525869),
 (49, 0.025013188193353835),
 (50, 0.029191012525984498),
 (51, 0.025533756672471774),
 (52, 0.02780935293708898),
 (53, 0.006972340280343934),
 (54, 0.017899638316551305),
 (55, 0.009943646916489239),
 (56, 0.035759550498609995),
 (57, 0.08499122853050523),
 (58, 0.06643675930773844),
 (59, 0.07545375171567999),
 (60, 0.03280165080236241),
 (61, 0.02128872466414041),
 (62, 0.031064663608151646),
 (63, 0.02577313317902281),
 (64, 0.017149923172465897),
 (65, 0.019521489223720875),
 (66, 0.018128857585795032),
 (67, 0.022830405757796712),
 (68, 0.051118236950250785),
 (69, 0.038288837815924494),
 (70, 0.019451305562492013),
 (71, 0.028629071212314387),
 (72, 0.01772157193884941),
 (73, 0.015234324484687554),
 (74, 0.01624735235347671),
 (75, 0.014187135182140707),
 (76, 0.024306932675209152),
 (77, 0.028305378426846387),
 (78, 0.016768362375310868),
 (79, 0.02002706917389629),
 (80, 0.03912465330789028),
 (81, 0.020796766603713875),
 (82, 0.025013188193353835),
 (83, 0.009889732334805492),
 (84, 0.03730123159226629),
 (85, 0.014741999417025082),
 (86, 0.036892965490373374),
 (87, 0.03429984634493179),
 (88, 0.026313866524554103),
 (89, 0.033536724750621735),
 (90, 0.031014434241608484),
 (91, 0.0338177708255089),
 (92, 0.02145823941183696),
 (93, 0.015052480735436545),
 (94, 0.012074482141408972),
 (95, 0.02254049761338089),
 (96, 0.033246122059125395),
 (97, 0.04075002636008019),
 (98, 0.014066560985153295),
 (99, 0.02574999944197043),
 (100, 0.020717075897756905),
 (101, 0.034078824633500523),
 (102, 0.041356341125407196),
 (103, 0.019381610989982808),
 (104, 0.036494684167953796),
 (105, 0.029529120286343614),
 (106, 0.02624303863291723),
 (107, 0.019451305562492013),
 (108, 0.02032451913991355),
 (109, 0.020327877734303338),
 (110, 0.035759550498609995),
 (111, 0.1189129327444962),
 (112, 0.08988212986740625),
 (113, 0.009889732334805492),
 (114, 0.013472259591459264),
 (115, 0.01217533473400615),
 (116, 0.02216658001925885),
 (117, 0.03730123159226629),
 (118, 0.03650071401269005),
 (119, 0.035759550498609995),
 (120, 0.02538594428341768),
 (121, 0.029191012525984498),
 (122, 0.0327053887135941),
 (123, 0.050520284477495396),
 (124, 0.011680944261938307),
 (125, 0.016195450919615426),
 (126, 0.014829729196079338),
 (127, 0.022830405757796712),
 (128, 0.013944680560687869),
 (129, 0.03352786268109308),
 (130, 0.0071139157785208434),
 (131, 0.035759550498609995),
 (132, 0.034659397637006095),
 (133, 0.01877529622465581),
 (134, 0.07378593098074675),
 (135, 0.036892965490373374),
 (136, 0.007831604286090423),
 (137, 0.032445604479549146),
 (138, 0.024306932675209152),
 (139, 0.011458334388679029),
 (140, 0.01634940559288966),
 (141, 0.02002706917389629),
 (142, 0.04904821677866897),
 (143, 0.020101427365367085),
 (144, 0.015188552639658862),
 (145, 0.025135902992843597),
 (146, 0.013281756104303016),
 (147, 0.02865027918045321),
 (148, 0.11464554161146465),
 (149, 0.06383439168117944),
 (150, 0.03352786268109308),
 (151, 0.05424160148129515),
 (152, 0.10319399591917557),
 (153, 0.04200179930932068),
 (154, 0.017662914112741016),
 (155, 0.03693421991468541),
 (156, 0.01058550173856158),
 (157, 0.014932647362268387),
 (158, 0.021122035294153702),
 (159, 0.016930109254126115),
 (160, 0.06115906790876411),
 (161, 0.06489120895909829),
 (162, 0.020101427365367085),
 (163, 0.11366416488606317),
 (164, 0.035759550498609995),
 (165, 0.16643625800680634),
 (166, 0.0344240855908359),
 (167, 0.009391538954227827),
 (168, 0.018710142048411958),
 (169, 0.03352786268109308),
 (170, 0.025135902992843597),
 (171, 0.013864511069142584),
 (172, 0.01904024233271569),
 (173, 0.024082178707037192),
 (174, 0.022916668777358058),
 (175, 0.04711184222692852),
 (176, 0.028966670135445127),
 (177, 0.04838784869293441),
 (178, 0.037726875857839993),
 (179, 0.019779464669610985),
 (180, 0.03497795404218722),
 (181, 0.015608242078809597),
 (182, 0.04075002636008019),
 (183, 0.1277817749117005),
 (184, 0.03650071401269005),
 (185, 0.038763221979965616),
 (186, 0.02780935293708898),
 (187, 0.021934765563960023),
 (188, 0.01570394740897617),
 (189, 0.05193721113443746),
 (190, 0.03352786268109308),
 (191, 0.014829729196079338),
 (192, 0.19466547055962283),
 (193, 0.017094515104528068),
 (194, 0.02381724421976045),
 (195, 0.01589815022322542),
 (196, 0.016556690332721478),
 (197, 0.02017634255222561),
 (198, 0.020404515126030556),
 (199, 0.009836106840739574),
 (200, 0.03863669650004039),
 (201, 0.052079691606297475),
 (202, 0.026039845803148737),
 (203, 0.04200179930932068),
 (204, 0.01772157193884941),
 (205, 0.01624735235347671),
 (206, 0.016452510946095955),
 (207, 0.053191214293043576),
 (208, 0.01624735235347671),
 (209, 0.01772157193884941),
 (210, 0.018710142048411958),
 (211, 0.008371121910392245),
 (212, 0.02574999944197043),
 (213, 0.015052480735436545),
 (214, 0.011974636413467717),
 (215, 0.041356341125407196),
 (216, 0.014440867357703807),
 (217, 0.016875902451060534),
 (218, 0.0213731228922751),
 (219, 0.007466323681134194),
 (220, 0.01778057583083032),
 (221, 0.034116334211210846),
 (222, 0.009064428792897516),
 (223, 0.022075244857692248),
 (224, 0.031239188209780444),
 (225, 0.029191012525984498),
 (226, 0.14325139590226604),
 (227, 0.020877097402517687),
 (228, 0.02285386727721553),
 (229, 0.018630193637810828),
 (230, 0.7615783285025304),
 (231, 0.07824930661578056),
 (232, 0.014698421436609203),
 (233, 0.01148983403891377),
 (234, 0.027336770660601847),
 (235, 0.013206559278755014),
 (236, 0.05161691976612078),
 (237, 0.017591523991935847),
 (238, 0.03612326806055579),
 (239, 0.03612326806055579),
 (240, 0.022258756991413203),
 (241, 0.009214074437913965),
 (242, 0.025319826704197152),
 (243, 0.008394245922270619),
 (244, 0.018265574161900208),
 (245, 0.019735044612017933),
 (246, 0.01772157193884941),
 (247, 0.04200179930932068),
 (248, 0.0344240855908359),
 (249, 0.01599668432746881),
 (250, 0.0216306769711805),
 (251, 0.059525322584736015),
 (252, 0.01980725525555651),
 (253, 0.04200179930932068),
 (254, 0.04031887528284624),
 (255, 0.02154408655423451),
 (256, 0.02312896914349865),
 (257, 0.016400825401181204),
 (258, 0.033113380665442955),
 (259, 0.017149923172465897),
 (260, 0.020481744318147414),
 (261, 0.06032551974362558),
 (262, 0.1387738148609919),
 (263, 0.029191012525984498),
 (264, 0.018453688748846384),
 (265, 0.038215180537154884),
 (266, 0.02216658001925885),
 (267, 0.013357522608200539),
 (268, 0.015097632643649174)]

In [44]:
#train lda model using only bow_corpus
lda_model = gensim.models.LdaMulticore(bow_corpus, num_topics=10, id2word=dictionary, passes=2, workers=2)
for idx, topic in lda_model.print_topics(-1):
    print('Topic: {} \nWords: {}'.format(idx, topic))

Topic: 0
Words: 0.015*"continu" + 0.014*"mgdl" + 0.010*"give" + 0.009*"dose" + 0.009*"meql" + 0.009*"today" + 0.007*"follow" + 0.007*"home" + 0.007*"start" + 0.006*"stool"
Topic: 1
Words: 0.016*"leav" + 0.011*"normal" + 0.010*"right" + 0.007*"rhythm" + 0.007*"continu" + 0.007*"ventricular" + 0.007*"tablet" + 0.006*"daili" + 0.006*"trace" + 0.006*"give"
Topic: 2
Words: 0.037*"tablet" + 0.014*"daili" + 0.013*"blood" + 0.012*"patch" + 0.011*"leav" + 0.010*"neg" + 0.008*"continu" + 0.008*"time" + 0.008*"releas" + 0.007*"discharg"
Topic: 3
Words: 0.014*"continu" + 0.011*"give" + 0.009*"follow" + 0.008*"action" + 0.008*"med" + 0.008*"respons" + 0.007*"dilaudid" + 0.007*"leav" + 0.007*"chronic" + 0.007*"home"
Topic: 4
Words: 0.014*"leav" + 0.011*"cathet" + 0.009*"right" + 0.009*"hospit" + 0.007*"continu" + 0.007*"clip" + 0.006*"chest" + 0.006*"tablet" + 0.006*"reason" + 0.006*"normal"
Topic: 5
Words: 0.016*"respons" + 0.014*"action" + 0.012*"med" + 0.011*"receiv" + 0.011*"continu" + 0.010*"micu" + 0.009*"give" + 0.009*"dilaudid" + 0.009*"labetolol" + 0.008*"chronic"
Topic: 6
Words: 0.013*"normal" + 0.013*"leav" + 0.009*"dialysi" + 0.008*"mgdl" + 0.008*"right" + 0.007*"respons" + 0.006*"mild" + 0.006*"meql" + 0.006*"cathet" + 0.006*"continu"
Topic: 7
Words: 0.031*"tablet" + 0.009*"daili" + 0.009*"blood" + 0.009*"neg" + 0.009*"leav" + 0.009*"continu" + 0.008*"patch" + 0.007*"dialysi" + 0.007*"normal" + 0.007*"labetalol"
Topic: 8
Words: 0.019*"action" + 0.019*"respons" + 0.013*"chronic" + 0.010*"emerg" + 0.008*"continu" + 0.008*"give" + 0.008*"dilaudid" + 0.007*"dialysi" + 0.007*"crisi" + 0.007*"failur"
Topic: 9
Words: 0.015*"mgdl" + 0.011*"continu" + 0.011*"meql" + 0.009*"total" + 0.008*"puls" + 0.008*"balanc" + 0.008*"leav" + 0.008*"lab" + 0.007*"code" + 0.007*"system"

In [45]:
# train lda model using tf-idf word weights already established
lda_model_tfidf = gensim.models.LdaMulticore(corpus_tfidf, num_topics=10, id2word=dictionary, passes=2, workers=4)
for idx, topic in lda_model_tfidf.print_topics(-1):
    print('Topic: {} Word: {}'.format(idx, topic))

Topic: 0 Word: 0.010*"action" + 0.010*"respons" + 0.005*"date" + 0.004*"dilaudid" + 0.004*"shift" + 0.004*"cont" + 0.004*"continu" + 0.004*"valuabl" + 0.004*"med" + 0.004*"order"
Topic: 1 Word: 0.012*"tablet" + 0.006*"mgdl" + 0.005*"neg" + 0.005*"leav" + 0.004*"puls" + 0.004*"meql" + 0.004*"continu" + 0.004*"daili" + 0.004*"cathet" + 0.003*"ventricular"
Topic: 2 Word: 0.026*"action" + 0.024*"respons" + 0.015*"signific" + 0.013*"trace" + 0.010*"ventricular" + 0.010*"compar" + 0.009*"chronic" + 0.009*"previou" + 0.008*"wave" + 0.008*"failur"
Topic: 3 Word: 0.010*"mgdl" + 0.006*"meql" + 0.005*"continu" + 0.005*"puls" + 0.004*"comment" + 0.004*"balanc" + 0.004*"hand" + 0.004*"trace" + 0.003*"total" + 0.003*"dyspnea"
Topic: 4 Word: 0.012*"mgdl" + 0.008*"meql" + 0.007*"respons" + 0.006*"action" + 0.006*"cont" + 0.005*"labetolol" + 0.005*"puls" + 0.004*"stage" + 0.004*"heparin" + 0.004*"total"
Topic: 5 Word: 0.010*"mgdl" + 0.008*"meql" + 0.007*"puls" + 0.005*"normal" + 0.005*"sound" + 0.004*"right" + 0.004*"absent" + 0.004*"leav" + 0.004*"radial" + 0.004*"total"
Topic: 6 Word: 0.006*"mgdl" + 0.004*"action" + 0.004*"respons" + 0.004*"clip" + 0.004*"nausea" + 0.004*"meql" + 0.003*"state" + 0.003*"headach" + 0.003*"reason" + 0.003*"anxieti"
Topic: 7 Word: 0.007*"facial" + 0.006*"deni" + 0.006*"action" + 0.006*"respons" + 0.005*"swell" + 0.005*"receiv" + 0.005*"kayexal" + 0.005*"cuff" + 0.005*"bracheocephal" + 0.004*"frontal"
Topic: 8 Word: 0.019*"wave" + 0.018*"trace" + 0.015*"axi" + 0.014*"compar" + 0.013*"previou" + 0.012*"nonspecif" + 0.012*"deviat" + 0.011*"changetrac" + 0.010*"ventricular" + 0.007*"lead"
Topic: 9 Word: 0.012*"clip" + 0.011*"reason" + 0.007*"eval" + 0.006*"number" + 0.006*"chest" + 0.005*"tablet" + 0.005*"final" + 0.005*"condit" + 0.005*"report" + 0.005*"impress"

In [46]:
## determine which topic a certain document belongs to
#again 765 is a sample index
for index, score in sorted(lda_model[bow_corpus[765]], key=lambda tup: -1*tup[1]):
    print("\nScore: {}\t \nTopic: {}".format(score, lda_model.print_topic(index, 10)))

Score: 0.993998110294342
Topic: 0.015*"mgdl" + 0.011*"continu" + 0.011*"meql" + 0.009*"total" + 0.008*"puls" + 0.008*"balanc" + 0.008*"leav" + 0.008*"lab" + 0.007*"code" + 0.007*"system"